
* {
    background-color: black;
    color: white
  }
.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    top: 0; 
    position: fixed;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    text-decoration: none;   
  }
  .navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', Times, serif;
    border: solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
